@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat/montserrat.eot')
  src: url('../fonts/Montserrat/montserrat.eot?iefix') format('eot'),
  url('../fonts/Montserrat/montserrat.woff') format('woff'),
  url('../fonts/Montserrat/montserrat.woff2') format('woff2'),
  url('../fonts/Montserrat/montserrat.svg') format('svg'),
  url('../fonts/Montserrat/montserrat.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Selima'
  src: url('../fonts/Selima/selima.eot')
  src: url('../fonts/Selima/selima.eot?iefix') format('eot'),
  url('../fonts/Selima/selima.woff') format('woff'),
  url('../fonts/Selima/selima.svg') format('svg'),
  url('../fonts/Selima/selima.ttf') format('truetype')
  font-weight: normal
  font-style: normal