@import "vars"

@media only screen and (max-width : 1200px)
  .header-slider__image
    width: 85%
  .offer__wrapper, .feature__wrapper
    justify-content: space-around
  .offer__item, .feature__item
    margin-bottom: 50px
    &:last-child
      margin-bottom: 0

  .form__line_col-5
    grid-template-columns: 120px 120px 120px 180px 180px
  .form__line_col-2
    grid-template-columns: 430px 400px
  .reserve-form__input
    font-size: 13px
  .dish__components
    margin: 45px 30px

@media only screen and (max-width : 992px)
  .slick-dots
    & li
      &.slick-active
        & button
          &::before
            width: 45px
  .offer__item
    margin-right: 30px

  .dish
    width: 48%
  .dish__name
    margin: 45px 25px 25px
  .dish__description
    margin: 0 25px 40px
  .dish__components
    margin: 45px 15px

@media only screen and (max-width : 900px)
  .form__line_col-5
    grid-template-columns: repeat(auto-fill, 200px)
    justify-content: center
  .form__line_col-2
    grid-template-columns: repeat(2, 320px)
  .reserve__form
    grid-template-rows: 2fr 0.5fr 0.5fr 3fr 0.5fr
  .component__title
    font-size: 16px
  .component__list
    font-size: 14px

@media only screen and (max-width : 768px)
  .header-slider__image
    width: 75%
  .header-slider__control
    top: 45%
  .header-slider
    margin-bottom: 45px
  .button__header
    position: static
    margin: 0 auto 30px

  .offer__item, .feature__item
    margin: 25px 0

  .title__wrapper
    background-size: 75%

  .title__card
    padding: 40px 15px 65px

  .button
    margin-left: 50%
    transform: translateX(-50%)

  .dish__card
    grid-template-columns: 1fr
    grid-template-rows: 0.5fr 0.5fr
  .dish__name
    margin: 25px
    font-size: 24px
  .dish__components
    margin: 15px
  .dish__price
    margin: 5px auto
  .price__number
    font-size: 44px
  .price__tag
    font-size: 14px

@media only screen and (max-width : 700px)
  .form__line_col-5
    grid-template-columns: repeat(auto-fill, 120px)
  .form__line_col-2
    grid-template-columns: repeat(2, 200px)
  .reserve__form
    grid-template-rows: 2fr 0.5fr 0.5fr 3fr 0.5fr
  .reserve-form__input_wide
    font-size: 10px
    padding: 20px 5px

  .dish
    width: 90%
    margin: 0 auto 30px
  .dish__name
    margin: 25px 25px 15px
    font-size: 25px
  .dish__description
    margin: 0 25px 30px
    font-size: 14px

@media only screen and (max-width : 480px)
  .header-slider__image
    width: 65%
  .header-slider__control
    top: 35%
  .logo__wrapper
    margin: 0 auto 40px
  .menu.menu__header
    width: 100%
    text-align: center
  .menu__item
    display: block
    margin-right: 0
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0

  .title__wrapper
    padding: 20px 0
    margin: 0 20px 5px
  .offer__item, .feature__item
    width: 95%
    padding: 20px
  .section__title
    font-size: 40px
  .offer__item_high, .offer__item
    height: auto
  .section-perfection
    padding-top: 55px
    padding-bottom: 70px

  .section-details__button
    font-size: 13px

  .footer
    padding-bottom: 90px

  .form__line_col-5
    grid-template-columns: 250px
  .form__line_col-2
    grid-template-columns: 250px
  .reserve__form
    grid-template-rows: 2fr 0.5fr 0.5fr 1.5fr 0.25fr
  .reserve-form__input_wide
    font-size: 13px
    padding: 20px
  .menu__gallery
    margin: 60px 20px 0

  .dish__name
    margin: 10px
    font-size: 20px
  .dish__description
    margin: 0 25px 15px
    font-size: 12px
  .component__title
    font-size: 14px
  .component__list
    font-size: 12px
  .dish__components
    margin: 10px

@media only screen and (max-width : 320px)
  /**/