doctype html
html
    head

        meta(charset="utf-8")
        title Title
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        meta(name="description" content="")

        meta(property="og:image" content="path_to_image")
        link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
        link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
        link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")

        link(rel="stylesheet" type='text/css' href="css/main.css")

        <!-- Chrome, Firefox OS and Opera -->
        meta(name="theme-color" content="#000")
        <!-- Windows Phone -->
        meta(name="msapplication-navbutton-color" content="#000")
        <!-- iOS Safari -->
        meta(name="apple-mobile-web-app-status-bar-style" content="#000")

    body
        header.header
            div.container
                nav.navigation.navigation__header
                    a.logo__wrapper(href="#")
                        img.logo.logo__header(src="../img/header/logo.png" srcset="../img/header/logo@2x.png 2x" alt="Gratia logo")
                        span.logo__name Gratia
                    ul.menu.menu__header
                        li.menu__item
                            a.menu__link(href="#") About
                        li.menu__item
                            a.menu__link(href="#") Menu
                        li.menu__item
                            a.menu__link(href="#") Gallery
                        li.menu__item
                            a.menu__link(href="#") Contact
                div.header-slider
                    div.header-slider__prev.header-slider__control
                    div.header-slider__next.header-slider__control
                    div.header-slider-js
                        div.header-slider__item
                            img.header-slider__image(src="../img/header/slider_1.png" alt="Slider image")
                        div.header-slider__item
                            img.header-slider__image(src="../img/header/slider_2.jpg" alt="Slider image")
                        div.header-slider__item
                            img.header-slider__image(src="../img/header/slider_3.jpg" alt="Slider image")
                div.button.button__header Book a table
                a.arrow.arrow_down.arrow__header(href="#")
                    span.arrow__text and perfection is  not a detail




        main.main
            section.section-perfection
                div.container
                    div.title__wrapper
                        div.section__title Perfection
                        div.section__sub-title The best Desserts Smoothies & Breakfast
                div.offer__wrapper
                    div.offer__item(style="background-image: url('../img/section_perfection/photo_1.jpg')")
                        div.offer__title Desserts
                        div.offer__description Confectionery course that concludes a main meal
                    div.offer__item.offer__title_high(style="background-image: url('../img/section_perfection/photo_2.jpg')")
                        div.offer__title.offer__title_black Smoothies
                        div.offer__description thick beverage made from blended raw fruit, vegetables or ice cream and cookies with other ingredients such as water, ice, or sweeteners
                    div.offer__item(style="background-image: url('../img/section_perfection/photo_3.jpg')")
                        div.offer__title Breakfast
                        div.offer__description First meal of a day, most often eaten in the early morning before undertaking the day's work
                div.offer-link__wrapper
                    div.offer__link Check other offers




        script(src="js/jquery.min.js")
        script(src="js/libs.min.js")
        script(src="js/main.js")
